# Folders used during a build
build*
publish

# Files generated during testing
images*/*
config.ini
*.cache
*.json
*.pdf

# Intermediate file created from resource build
*.aps

# Conan home, local in this repo for stability and CI
.conan_home
